* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background-color: #2f3033;
}

.header {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0e1117;
    color: white;
}

h2 {
    font-size: 30px;
}

.container {
    width: 100%;
    height: 100%;
    padding: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #2f3033;
}

h3 {
    margin-top: 1vh;
    font-size: 24px;
    text-align: center;
    color: white;
    margin-bottom: 1vh;
}

.all_tasks {
    width: 40%;
    background-color: #0e1117;
    margin: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1vh;
}

.task_page {
    width: 98%;
    padding: 2vh;
    margin-bottom: 3vh;
    background-color: #edeef8;
    border-radius: 1vh;
    margin-right: 1%;
    margin-left: 1%;
}

.title {
    margin-bottom: 1%;
}

.add_tasks {
    width: 40%;
    background-color: #0e1117;
    margin: 1vh;
    border-radius: 1vh;
    height: 35%;
}

.form {
    width: 98%;
    padding: 2vh;
    background-color: #edeef8;
    border-radius: 1vh;
    margin-left: 1%;
    margin-right: 1%;
}

.task_button {
    width: 50%;
    height: 3vh;
    margin-right: 1vw;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 3vh;
    width: 100%;
    margin-top: 1%;
}

.list {
    width: 100%;
    height: 3.5vh;
    margin-right: 2vh;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    transition-duration: 0.1s;
    font-size: 15px;
}

.list:hover {
    background-color: rgba(221, 220, 220, 0.911);
    cursor: pointer;
}

.list:active {
    transform: scale(0.97);
}

.checked {
    width: 2vw;
    height: 3.5vh;
    margin-right: 2vh;
    background-color: rgba(221, 220, 220, 0.835);
    border: 1px solid black;
    border-radius: 5px;
    transition-duration: 0.1s;
}

.not_checked {
    width: 2vw;
    height: 3.5vh;
    margin-right: 2vh;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    transition-duration: 0.1s;
}

.checked:hover {
    background-color: white;
    cursor: pointer;
}

.checked:active {
    transform: scale(0.95);
}

.not_checked:hover {
    background-color: rgba(221, 220, 220, 0.911);
    cursor: pointer;
}

.not_checked:active {
    transform: scale(0.95);
}

.add {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-bottom: 1vh;
    font-size: 18px;
    font-weight: 500;
}

input {
    width: 50%;
    height: 4vh;
    padding-left: 1vw;
    margin-bottom: 2vh;
    border: none;
    border-radius: 1vh;
    font-size: 16px;
}

select {
    width: 50%;
    height: 4vh;
    padding-left: 1vw;
    margin-bottom: 2vh;
    border: none;
    border-radius: 1vh;
    font-size: 16px;
    cursor: pointer;
}

.submit_row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sub {
    width: 50%;
    height: 4vh;
    border-radius: 1vh;
    border: 1px solid black;
    font-size: 16px;
    transition-duration: 0.1s;
}

.sub:hover {
    background-color: rgba(221, 220, 220, 0.911);
    cursor: pointer;
}

.sub:active {
    transform: scale(0.97);
}

.messages {
    margin-top: 5%;
}

.message {
    font-size: 20px;
    text-align: center;
    color: white;
}

.errors {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1vh;
}

.error {
    margin-top: 1vh;
    color: white;
}
